In [1]:
import pandas as pd
import numpy as np
import matplotlib.patches as mpatches
import matplotlib.pyplot as plt
import statsmodels.formula.api as sm

%matplotlib inline

In [2]:
import os
os. getcwd()
# os.chdir('C:\Users\vishn\Downloads\Market-Mix-Modelling-edited\edit\')

'C:\\Users\\vishn\\Downloads\\MMM-final0307'

In [5]:
 df = pd.read_excel('MMM_Raw_Data.xlsx')

In [6]:
data=df.copy()
df2=df.copy()

In [7]:
numerics = ['int16', 'int32', 'int64','float64']
df2 = df2.select_dtypes(include=numerics)

In [8]:
nu_ls=df2.columns.values.tolist()

In [9]:
# df.describe()
# df.head()

In [10]:
import numpy as np
for i in nu_ls:
     df[i]=df[i]+1

In [11]:
import numpy as np
for i in nu_ls:
    df[i]=np.log(df[i])

In [12]:
df

,X_DT,HF,X_GEO,dv,M_TV_N_TS_GRP,M_TV_N_TS_SP,PRO_EX_ADV_CA_SP,PRO_EX_ADV_ST_AWD,PRO_EX_ADV_ST_DEP,PRO_EX_ADV_ST_ENR,...,M_HSP_L_MLB_IMP,M_HSP_L_MLB_SP,M_HSP_L_PGA_IMP,M_HSP_L_PGA_SP,M_RD_L_RTL_GRP,M_RD_L_RTL_SP,M_EVT_L_CUL_SP,M_EVT_L_GLF_SP,M_EVT_L_SPK_SP,PRO_EX_ADV_CA_AWD
0,2014-01-05,2014_HF1,ATL,14.115616,1.181727,10.821233,5.303305,1.098612,13.334944,1.386294,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.00000,0.0,0.0,1.098612
1,2014-01-05,2014_HF1,BAL,13.083610,1.181727,10.821233,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.00000,0.0,0.0,0.000000
2,2014-01-05,2014_HF1,BOS,14.473760,1.181727,10.821233,0.000000,0.693147,0.000000,0.693147,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.00000,0.0,0.0,0.000000
3,2014-01-05,2014_HF1,CHA,12.054460,1.181727,10.821233,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.00000,0.0,0.0,0.000000
4,2014-01-05,2014_HF1,CHI,15.381077,1.181727,10.821233,5.707110,0.693147,11.512935,0.693147,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.00000,0.0,0.0,1.098612
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4571,2017-07-02,2017_HF2,SFO,17.583730,0.000000,0.000000,8.366603,1.386294,11.512935,1.791760,...,4.234107,9.449436,0.000000,0.000000,0.0,0.0,0.00000,0.0,0.0,1.945910
4572,2017-07-02,2017_HF2,TAM,15.253484,0.000000,0.000000,7.170888,0.693147,11.844910,0.693147,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.00000,0.0,0.0,1.098612
4573,2017-07-02,2017_HF2,WDC,16.311170,0.000000,0.000000,5.303305,0.000000,0.000000,0.000000,...,3.367296,8.949105,6.493754,11.898302,0.0,0.0,9.04793,0.0,0.0,1.098612
4574,2017-07-02,2017_HF2,WPB,15.011387,0.000000,0.000000,6.216606,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.00000,0.0,0.0,0.693147
4575,NaT,NaN,NaN,11.264403,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.00000,0.0,0.0,0.000000

In [13]:
df.to_csv('MMM_Data_log1.csv')

In [14]:
data = pd.read_csv('MMM_Data_log1.csv')

In [15]:
# Let's preview the data
#print(data.describe())
print (data.columns)

Index(['Unnamed: 0', 'X_DT', 'HF', 'X_GEO', 'dv', 'M_TV_N_TS_GRP',
       'M_TV_N_TS_SP', 'PRO_EX_ADV_CA_SP', 'PRO_EX_ADV_ST_AWD',
       'PRO_EX_ADV_ST_DEP', 'PRO_EX_ADV_ST_ENR', 'PRO_EX_ADV_ST_SP',
       'PRO_EX_CEQA_AWD', 'PRO_EX_CEQA_SP', 'M_OD_N_SPN_CLK', 'M_OD_N_SPN_IMP',
       'M_OD_N_SPN_SP', 'M_HSP_L_MLB_IMP', 'M_HSP_L_MLB_SP', 'M_HSP_L_PGA_IMP',
       'M_HSP_L_PGA_SP', 'M_RD_L_RTL_GRP', 'M_RD_L_RTL_SP', 'M_EVT_L_CUL_SP',
       'M_EVT_L_GLF_SP', 'M_EVT_L_SPK_SP', 'PRO_EX_ADV_CA_AWD'],
      dtype='object')

In [16]:
Ad_Absolut = data[['dv','M_RD_L_RTL_GRP','M_TV_N_TS_GRP','M_OD_N_SPN_SP','PRO_EX_ADV_ST_SP','M_EVT_L_CUL_SP','M_EVT_L_GLF_SP','M_EVT_L_SPK_SP','PRO_EX_CEQA_SP','PRO_EX_ADV_CA_SP','M_HSP_L_MLB_IMP','M_HSP_L_PGA_IMP']]

In [17]:
# Log - Log Model
result_ad = sm.ols('dv ~ M_RD_L_RTL_GRP + M_TV_N_TS_GRP +M_OD_N_SPN_SP+ PRO_EX_ADV_ST_SP  + M_EVT_L_CUL_SP  + M_EVT_L_GLF_SP + M_EVT_L_SPK_SP     + PRO_EX_CEQA_SP + PRO_EX_ADV_CA_SP + M_HSP_L_MLB_IMP + M_HSP_L_PGA_IMP ',data=Ad_Absolut).fit()

In [18]:
df_coeff = pd.read_html(result_ad.summary().tables[1].as_html(),header=0,index_col=0)[0]
df_coeff.to_csv("coeff.csv")

In [19]:
df_coeff

                     coef  std err        t  P>|t|  [0.025  0.975]
Intercept         13.5042    0.042  319.207  0.000  13.421  13.587
M_RD_L_RTL_GRP     0.2403    0.020   12.141  0.000   0.202   0.279
M_TV_N_TS_GRP      0.0962    0.026    3.737  0.000   0.046   0.147
M_OD_N_SPN_SP      0.0422    0.003   14.321  0.000   0.036   0.048
PRO_EX_ADV_ST_SP   0.1228    0.004   28.979  0.000   0.114   0.131
M_EVT_L_CUL_SP     0.0374    0.006    6.530  0.000   0.026   0.049
M_EVT_L_GLF_SP     0.0217    0.010    2.189  0.029   0.002   0.041
M_EVT_L_SPK_SP     0.0398    0.009    4.552  0.000   0.023   0.057
PRO_EX_CEQA_SP     0.1287    0.003   38.398  0.000   0.122   0.135
PRO_EX_ADV_CA_SP   0.0835    0.004   23.667  0.000   0.077   0.090
M_HSP_L_MLB_IMP    0.1578    0.016    9.955  0.000   0.127   0.189
M_HSP_L_PGA_IMP    0.0346    0.016    2.200  0.028   0.004   0.065

In [20]:
df_coeff.index

Index(['Intercept', 'M_RD_L_RTL_GRP', 'M_TV_N_TS_GRP', 'M_OD_N_SPN_SP',
       'PRO_EX_ADV_ST_SP', 'M_EVT_L_CUL_SP', 'M_EVT_L_GLF_SP',
       'M_EVT_L_SPK_SP', 'PRO_EX_CEQA_SP', 'PRO_EX_ADV_CA_SP',
       'M_HSP_L_MLB_IMP', 'M_HSP_L_PGA_IMP'],
      dtype='object')

In [21]:
ypred = result_ad.predict(data[['X_DT','X_GEO','M_RD_L_RTL_GRP' , 'M_TV_N_TS_GRP' , 'M_OD_N_SPN_SP', 'PRO_EX_ADV_ST_SP'  , 'M_EVT_L_CUL_SP'  , 'M_EVT_L_GLF_SP' , 'M_EVT_L_SPK_SP' , 'PRO_EX_CEQA_SP' , 'PRO_EX_ADV_CA_SP' , 'M_HSP_L_MLB_IMP' , 'M_HSP_L_PGA_IMP']])

In [22]:
pred1=data.copy()

In [23]:
pred1['ypred']=ypred

In [24]:
pred1[['dv','ypred']]

             dv      ypred
0     14.115616  14.892596
1     13.083610  13.617854
2     14.473760  14.309539
3     12.054460  13.617854
4     15.381077  15.609116
...         ...        ...
4571  17.583730  17.422386
4572  15.253484  15.992315
4573  16.311170  16.502505
4574  15.011387  14.438428
4575  11.264403  13.504177

[4576 rows x 2 columns]

In [25]:
pred1['mape']=abs((pred1.dv-pred1.ypred))/pred1.dv

In [26]:
pred1['mape'].mean()

0.04386900615309372

In [27]:
pred1['dv_exp']=np.exp(pred1['dv'])

In [28]:
col_list=['M_RD_L_RTL_GRP' , 'M_TV_N_TS_GRP' , 'M_OD_N_SPN_SP', 'PRO_EX_ADV_ST_SP'  , 'M_EVT_L_CUL_SP'  , 'M_EVT_L_GLF_SP' , 'M_EVT_L_SPK_SP' , 'PRO_EX_CEQA_SP' , 'PRO_EX_ADV_CA_SP' , 'M_HSP_L_MLB_IMP' , 'M_HSP_L_PGA_IMP']

In [29]:
# Contribution calculation section starts from here
pred1.to_csv('model_pred_v2.csv')

In [30]:
contrib=pd.DataFrame()

In [34]:
data1 = pd.read_csv('coeff_v2.csv',usecols=['Parameters','coef'])

In [35]:
data1

          Parameters     coef
0          Intercept  13.5042
1     M_RD_L_RTL_GRP   0.2403
2      M_TV_N_TS_GRP   0.0962
3      M_OD_N_SPN_SP   0.0422
4   PRO_EX_ADV_ST_SP   0.1228
5     M_EVT_L_CUL_SP   0.0374
6     M_EVT_L_GLF_SP   0.0217
7     M_EVT_L_SPK_SP   0.0398
8     PRO_EX_CEQA_SP   0.1287
9   PRO_EX_ADV_CA_SP   0.0835
10   M_HSP_L_MLB_IMP   0.1578
11   M_HSP_L_PGA_IMP   0.0346

In [36]:
data1=data1[data1.Parameters!='Intercept']

In [37]:
data1

          Parameters    coef
1     M_RD_L_RTL_GRP  0.2403
2      M_TV_N_TS_GRP  0.0962
3      M_OD_N_SPN_SP  0.0422
4   PRO_EX_ADV_ST_SP  0.1228
5     M_EVT_L_CUL_SP  0.0374
6     M_EVT_L_GLF_SP  0.0217
7     M_EVT_L_SPK_SP  0.0398
8     PRO_EX_CEQA_SP  0.1287
9   PRO_EX_ADV_CA_SP  0.0835
10   M_HSP_L_MLB_IMP  0.1578
11   M_HSP_L_PGA_IMP  0.0346

In [38]:
col_list1=data1['Parameters'].tolist()
col_list1

['M_RD_L_RTL_GRP',
 'M_TV_N_TS_GRP',
 'M_OD_N_SPN_SP',
 'PRO_EX_ADV_ST_SP',
 'M_EVT_L_CUL_SP',
 'M_EVT_L_GLF_SP',
 'M_EVT_L_SPK_SP',
 'PRO_EX_CEQA_SP',
 'PRO_EX_ADV_CA_SP',
 'M_HSP_L_MLB_IMP',
 'M_HSP_L_PGA_IMP']

In [39]:
data_beta=data[col_list1].copy()
contrib=pd.DataFrame()

for col in col_list1:
    xbeta=data1[data1.Parameters==col]["coef"]
    data_beta[col]=data_beta[col].apply(lambda x: x**xbeta)
    data_beta[col].replace(to_replace = 0, value = 1, inplace=True)
    contrib[col]=(1-(1/data_beta[col]))
    print(col)

M_RD_L_RTL_GRP
M_TV_N_TS_GRP
M_OD_N_SPN_SP
PRO_EX_ADV_ST_SP
M_EVT_L_CUL_SP
M_EVT_L_GLF_SP
M_EVT_L_SPK_SP
PRO_EX_CEQA_SP
PRO_EX_ADV_CA_SP
M_HSP_L_MLB_IMP
M_HSP_L_PGA_IMP

In [40]:
data_beta

,M_RD_L_RTL_GRP,M_TV_N_TS_GRP,M_OD_N_SPN_SP,PRO_EX_ADV_ST_SP,M_EVT_L_CUL_SP,M_EVT_L_GLF_SP,M_EVT_L_SPK_SP,PRO_EX_CEQA_SP,PRO_EX_ADV_CA_SP,M_HSP_L_MLB_IMP,M_HSP_L_PGA_IMP
0,1.0,1.016193,1.000000,1.264927,1.000000,1.0,1.0,1.000000,1.149475,1.000000,1.000000
1,1.0,1.016193,1.000000,1.000000,1.000000,1.0,1.0,1.000000,1.000000,1.000000,1.000000
2,1.0,1.016193,1.000000,1.236539,1.000000,1.0,1.0,1.000000,1.000000,1.000000,1.000000
3,1.0,1.016193,1.000000,1.000000,1.000000,1.0,1.0,1.000000,1.000000,1.000000,1.000000
4,1.0,1.016193,1.000000,1.236539,1.000000,1.0,1.0,1.269823,1.156540,1.000000,1.000000
...,...,...,...,...,...,...,...,...,...,...,...
4571,1.0,1.000000,1.101304,1.271754,1.000000,1.0,1.0,1.342264,1.194078,1.255749,1.000000
4572,1.0,1.000000,1.101304,1.227367,1.000000,1.0,1.0,1.269823,1.178801,1.000000,1.000000
4573,1.0,1.000000,1.101304,1.000000,1.085863,1.0,1.0,1.309608,1.149475,1.211170,1.066872
4574,1.0,1.000000,1.101304,1.000000,1.000000,1.0,1.0,1.000000,1.164828,1.000000,1.000000
4575,1.0,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.000000,1.000000,1.000000,1.000000

In [43]:
contrib

,M_RD_L_RTL_GRP,M_TV_N_TS_GRP,M_OD_N_SPN_SP,PRO_EX_ADV_ST_SP,M_EVT_L_CUL_SP,M_EVT_L_GLF_SP,M_EVT_L_SPK_SP,PRO_EX_CEQA_SP,PRO_EX_ADV_CA_SP,M_HSP_L_MLB_IMP,M_HSP_L_PGA_IMP
0,0.0,0.015935,0.000000,0.209441,0.000000,0.0,0.0,0.000000,0.130038,0.000000,0.000000
1,0.0,0.015935,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000
2,0.0,0.015935,0.000000,0.191291,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000
3,0.0,0.015935,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000
4,0.0,0.015935,0.000000,0.191291,0.000000,0.0,0.0,0.212488,0.135352,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...
4571,0.0,0.000000,0.091986,0.213685,0.000000,0.0,0.0,0.254990,0.162534,0.203663,0.000000
4572,0.0,0.000000,0.091986,0.185248,0.000000,0.0,0.0,0.212488,0.151680,0.000000,0.000000
4573,0.0,0.000000,0.091986,0.000000,0.079073,0.0,0.0,0.236413,0.130038,0.174352,0.062681
4574,0.0,0.000000,0.091986,0.000000,0.000000,0.0,0.0,0.000000,0.141504,0.000000,0.000000
4575,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000

In [45]:
#contrib.describe()

In [47]:
contrib['dv']=data['dv']

In [48]:
contrib2=contrib.copy()
contrib2['row_tot']=contrib.sum(axis = 1)-contrib['dv']

In [49]:
contrib2

,M_RD_L_RTL_GRP,M_TV_N_TS_GRP,M_OD_N_SPN_SP,PRO_EX_ADV_ST_SP,M_EVT_L_CUL_SP,M_EVT_L_GLF_SP,M_EVT_L_SPK_SP,PRO_EX_CEQA_SP,PRO_EX_ADV_CA_SP,M_HSP_L_MLB_IMP,M_HSP_L_PGA_IMP,dv,row_tot
0,0.0,0.015935,0.000000,0.209441,0.000000,0.0,0.0,0.000000,0.130038,0.000000,0.000000,14.115616,0.355413
1,0.0,0.015935,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,13.083610,0.015935
2,0.0,0.015935,0.000000,0.191291,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,14.473760,0.207226
3,0.0,0.015935,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,12.054460,0.015935
4,0.0,0.015935,0.000000,0.191291,0.000000,0.0,0.0,0.212488,0.135352,0.000000,0.000000,15.381077,0.555067
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4571,0.0,0.000000,0.091986,0.213685,0.000000,0.0,0.0,0.254990,0.162534,0.203663,0.000000,17.583730,0.926858
4572,0.0,0.000000,0.091986,0.185248,0.000000,0.0,0.0,0.212488,0.151680,0.000000,0.000000,15.253484,0.641402
4573,0.0,0.000000,0.091986,0.000000,0.079073,0.0,0.0,0.236413,0.130038,0.174352,0.062681,16.311170,0.774542
4574,0.0,0.000000,0.091986,0.000000,0.000000,0.0,0.0,0.000000,0.141504,0.000000,0.000000,15.011387,0.233490
4575,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,11.264403,0.000000

In [50]:
for i in col_list1:
    contrib2[i]=contrib2[i]*contrib2['dv']/contrib2['row_tot']

In [51]:
contrib2

,M_RD_L_RTL_GRP,M_TV_N_TS_GRP,M_OD_N_SPN_SP,PRO_EX_ADV_ST_SP,M_EVT_L_CUL_SP,M_EVT_L_GLF_SP,M_EVT_L_SPK_SP,PRO_EX_CEQA_SP,PRO_EX_ADV_CA_SP,M_HSP_L_MLB_IMP,M_HSP_L_PGA_IMP,dv,row_tot
0,0.0,0.632870,0.000000,8.318153,0.000000,0.0,0.0,0.000000,5.164592,0.000000,0.000000,14.115616,0.355413
1,0.0,13.083610,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,13.083610,0.015935
2,0.0,1.112976,0.000000,13.360784,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,14.473760,0.207226
3,0.0,12.054460,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,12.054460,0.015935
4,0.0,0.441560,0.000000,5.300739,0.000000,0.0,0.0,5.888125,3.750653,0.000000,0.000000,15.381077,0.555067
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4571,0.0,0.000000,1.745095,4.053885,0.000000,0.0,0.0,4.837506,3.083489,3.863756,0.000000,17.583730,0.926858
4572,0.0,0.000000,2.187559,4.405459,0.000000,0.0,0.0,5.053289,3.607176,0.000000,0.000000,15.253484,0.641402
4573,0.0,0.000000,1.937141,0.000000,1.665214,0.0,0.0,4.978639,2.738482,3.671696,1.319996,16.311170,0.774542
4574,0.0,0.000000,5.913900,0.000000,0.000000,0.0,0.0,0.000000,9.097487,0.000000,0.000000,15.011387,0.233490
4575,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.264403,0.000000

In [52]:
contrib2.sum(axis=0, skipna=True)

M_RD_L_RTL_GRP       1186.593451
M_TV_N_TS_GRP        3688.344855
M_OD_N_SPN_SP       14336.074091
PRO_EX_ADV_ST_SP     9516.309732
M_EVT_L_CUL_SP       1336.750938
M_EVT_L_GLF_SP        238.681312
M_EVT_L_SPK_SP        420.516705
PRO_EX_CEQA_SP      19655.016274
PRO_EX_ADV_CA_SP    16894.874742
M_HSP_L_MLB_IMP      1176.063625
M_HSP_L_PGA_IMP       153.244286
dv                  68613.734414
row_tot              1557.988292
dtype: float64

In [53]:
contrib2=contrib2.drop(labels=['dv','row_tot'],axis=1)

In [54]:
contrib2

,M_RD_L_RTL_GRP,M_TV_N_TS_GRP,M_OD_N_SPN_SP,PRO_EX_ADV_ST_SP,M_EVT_L_CUL_SP,M_EVT_L_GLF_SP,M_EVT_L_SPK_SP,PRO_EX_CEQA_SP,PRO_EX_ADV_CA_SP,M_HSP_L_MLB_IMP,M_HSP_L_PGA_IMP
0,0.0,0.632870,0.000000,8.318153,0.000000,0.0,0.0,0.000000,5.164592,0.000000,0.000000
1,0.0,13.083610,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000
2,0.0,1.112976,0.000000,13.360784,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000
3,0.0,12.054460,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000
4,0.0,0.441560,0.000000,5.300739,0.000000,0.0,0.0,5.888125,3.750653,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...
4571,0.0,0.000000,1.745095,4.053885,0.000000,0.0,0.0,4.837506,3.083489,3.863756,0.000000
4572,0.0,0.000000,2.187559,4.405459,0.000000,0.0,0.0,5.053289,3.607176,0.000000,0.000000
4573,0.0,0.000000,1.937141,0.000000,1.665214,0.0,0.0,4.978639,2.738482,3.671696,1.319996
4574,0.0,0.000000,5.913900,0.000000,0.000000,0.0,0.0,0.000000,9.097487,0.000000,0.000000
4575,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
contrib2=contrib2.dropna()

In [57]:
# contrib2

In [58]:
contri_sum=pd.DataFrame()
contri_sum=contrib2.sum(axis=0)

In [59]:
contri_sum=contri_sum.reset_index()

In [60]:
contri_sum.rename(columns={"index":"Variable",0:"Coeffecient"},inplace=True)

In [61]:
contri_sum["Percentage contribution"]=contri_sum["Coeffecient"]/sum(contri_sum["Coeffecient"])

In [62]:
contri_sum

            Variable   Coeffecient  Percentage contribution
0     M_RD_L_RTL_GRP   1186.593451                 0.017297
1      M_TV_N_TS_GRP   3688.344855                 0.053764
2      M_OD_N_SPN_SP  14336.074091                 0.208973
3   PRO_EX_ADV_ST_SP   9516.309732                 0.138717
4     M_EVT_L_CUL_SP   1336.750938                 0.019485
5     M_EVT_L_GLF_SP    238.681312                 0.003479
6     M_EVT_L_SPK_SP    420.516705                 0.006130
7     PRO_EX_CEQA_SP  19655.016274                 0.286506
8   PRO_EX_ADV_CA_SP  16894.874742                 0.246272
9    M_HSP_L_MLB_IMP   1176.063625                 0.017143
10   M_HSP_L_PGA_IMP    153.244286                 0.002234

In [63]:
contri_sum.to_excel("Results_contribution.xlsx")